---
import Layout from '@/layouts/Layout.astro';

import AboutMe from '@/components/AboutMe.astro';
import BriefcaseIcon from '@/components/icons/Briefcase.astro';
import CertificateIcon from '@/components/icons/Certificate.astro';
import CodeIcon from '@/components/icons/Code.astro';
import Experience from '@/components/Experience.astro';
import ProfileCheckIcon from '@/components/icons/ProfileCheck.astro';
import Projects from '@/components/Projects.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import Hero from '@/components/Hero.astro';
import Education from '@/components/Education.astro';
---

<Layout
	title='Andrés Toala - Desarrollador y Programador Web'
	description='Contrata a Andrés Toala, futuro Ingeniero en Ciencias Computacionales y experimentado Desarrollador Web. Especialista en el diseño y desarrollo de aplicaciones web y móviles únicas y personalizadas que impulsan el éxito de tu negocio. Con un enfoque innovador y soluciones creativas, Andrés transforma tus ideas en realidades tecnológicas eficaces y atractivas.'
>
	<main class='px-4'>
		<SectionContainer class='py-16 md:py-36'>
			<Hero />
		</SectionContainer>
	</main>
	<div class='space-y-24'>
		<SectionContainer id='educacion'>
			<h2 class='flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white'>
				<CertificateIcon class='size-8' />
				Educación
			</h2>
			<Education />
		</SectionContainer>
		<SectionContainer id='experiencia'>
			<h2 class='flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white'>
				<BriefcaseIcon class='size-8' />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id='proyectos'>
			<h2 class='flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white'>
				<CodeIcon class='size-7' />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>

		<SectionContainer id='sobre-mi'>
			<h2 class='flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white'>
				<ProfileCheckIcon class='size-8' />
				Sobre mí
			</h2>
			<AboutMe />
		</SectionContainer>
	</div>
</Layout>
