---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout
	title='Portfolio de Andres Toala - Ingeniero en Ciencias Computacionales'
	description='Ingeniero en ciencias computacionales con experiencia en desarrollo web, aplicaciones móviles y diseño UX / UI.'
>
	<main class='px-4'>
		<section class='w-full lg:w-[740px] mx-auto py-44'>
			<h1 class='text-gray-800 dark:text-white font-bold flex justify-center flex-row sm:text-5xl gap-x-4'>
				Hey, soy Andrés Toala <a href='www.linkedin.com/in/aitoala' target='_blank'
					><Badge>Disponible para trabajar</Badge></a
				>
			</h1>
			<h2>
				Desarrollador Web Junior y futuro Ingeniero en Ciencias Computacionales. De Guayaquil, Ecuador 🇪🇨.
				Especializado en crear aplicaciones únicas.
			</h2>
		</section>
	</main>
</Layout>
