---
import EducationItem from './EducationItem.astro';
const EDUCATION = [
	{
		title: 'Ingeniería en Ciencias de la Computación',
		institution: 'Escuela Superior Politécnica del Litoral',
		location: 'Guayaquil, Ecuador',
		date: 'Ultimos semestres',
		description:
			'A lo largo de mi formación académica, he adquirido una sólida base en teoría y práctica en el ámbito del desarrollo de software y sistemas computacionales.',
		merits: 'Alto estandar profesional',
		relevantCourses: 'Algoritmos y Estructuras de Datos, Base de datos, Ingeniería de Software',
		isCertificate: true,
	},
];
---

<ol class='relative mt-16'>
	{
		EDUCATION.map((edu) => (
			<li class=''>
				<EducationItem {...edu} />
			</li>
		))
	}
</ol>
