---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCIE = [
	{
		date: '2024',
		title: 'No tengo experiencia laboral aunque ...',
		company: '',
		description:
			'He trabajado en proyectos que abordan problemas reales; aunque estos proyectos permanecen como prototipos conceptuales y no se han lanzado comercialmente, reflejan mi capacidad para idear y desarrollar soluciones técnicas innovadoras.',
	},
];
---

<ol class='relative mt-16'>
	{
		EXPERIENCIE.map((experiencie) => (
			<li class=''>
				<ExperienceItem {...experiencie} />
			</li>
		))
	}
</ol>
